.theme_widget .widget-title {
  display: none;
}
.theme_widget .theme-info {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem; /* Smaller font size */
}
.theme_widget .theme-info th, .theme_widget .theme-info td {
  padding: 0.5rem;
  border-bottom: 1px solid #e3e3e3; /* Apply red border to both th and td */
}
.theme_widget .theme-info th {
  text-align: left;
  font-weight: bold;
  color: #333;
}
.theme_widget .theme-info td {
  text-align: right; /* Aligns text to the right */
  color: #555;
}
.theme_widget .theme-info a {
  color: #0073aa;
  text-decoration: none;
}
.theme_widget .theme-info a:hover {
  text-decoration: underline;
}
